.password-strength {
  height: 5px;
  border-radius: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  width: 100%;
  background-color: #e0e0e0;
}

.strength-weak {
  background-color: #dc3545 !important;
}

.strength-medium {
  background-color: #ffc107 !important;
}

.strength-strong {
  background-color: #28a745 !important;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  padding-right: 40px; /* espaço para o botão do olho */
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #777;
  cursor: pointer;
  padding: 0;
  font-size: 18px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
